.DS_Store
node_modules
/build

/tunnels/shared/protobuf/generator
/core/texts
gen.py
cacert.pem
todo.txt

#compiled bins
/dist
*.exe
wconfig.h

/core/texts
/cmake
/.cache

.env.local
.env.*.local
package-lock.json
main_linkerArgs.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
