*.h linguist-language=C
ww/lwip/** linguist-vendored
ww/vendor/** linguist-vendored
ww/utils/freeres_wrap.cc linguist-vendored
tunnels/TlsClient/boringssl/** linguist-vendored
tunnels/TcpOverUdpClient/fec/** linguist-vendored
tunnels/TcpOverUdpClient/kcp/** linguist-vendored
tunnels/TcpOverUdpServer/fec/** linguist-vendored
tunnels/TcpOverUdpServer/kcp/** linguist-vendored
*.asm linguist-vendored
*.s linguist-vendored